.Signup {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    background-color: white;
    width: 30%;
    position: absolute;
    padding: 1rem .5rem;
}

.Signup form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.Signup form input {
    width: 100%;
    box-sizing: border-box;
    margin: .5rem 0;
}